# Logs
logs
*.log
npm-debug.log*

# node-waf configuration
.lock-wscript

# Dependency directories
node_modules
json

# Cache directories
.npm
.cache

# Optional REPL history
.node_repl_history

# Generated output
dist

# macOS
.DS_Store

# archivos cache de windows
Pulgares.db
Thumbs.db: encriptable
ehthumbs.db
ehthumbs_vista.db

# archivo de configuración de la carpeta
[Dd]esktop.ini

# Papelera de reciclaje utilizada en archivos compartidos
$RECICLAJE.BIN/

# archivos del instalador de Windows
*.taxi
*.msi
*.msix
*.msm
*.msp

# Atajos de Windows
*.lnk